In [15]:
import pandas as pd
from clair_main import clair
import os
from tqdm import tqdm
tqdm.pandas()

In [5]:
df=pd.read_csv('caption_phi.csv')
df

     Unnamed: 0  image_id                                     phi_prediction
0             0    557672  A woman wearing a pink and black backpack is w...
1             1    258541  A man in a white shirt and orange tie is stand...
2             2     15751  A bird is perched on a wooden surface, possibl...
3             3    378284  A pizza with chicken, cheese, and vegetables i...
4             4     50811  A man in a suit sits at a table with a bowl, t...
..          ...       ...                                                ...
995         995    347370  A person is holding a half-eaten lime in their...
996         996     14226  A man with headphones on is using a laptop on ...
997         997    211825  A man is blowing out the candles on a chocolat...
998         998    255917  A busy street with cars and a sign that says "...
999         999    370813  A person is performing a trick on a skateboard...

[1000 rows x 3 columns]

In [6]:
df2=pd.read_csv('captions_comparison.csv')
df2

,image_id,prediction,ref1,ref2,ref3,ref4,ref5
0,139,"A woman stands in the dining area at a table, ...",A woman stands in the dining area at the table.,"A room with chairs, a table, and a woman in it.",A woman standing in a kitchen by a window,A person standing at a table in a room.,A living area with a television and a table
1,885,A man in a white hat and black shirt is playin...,a male tennis player in white shorts is playin...,This woman has just returned a volley in tennis,A man holding a tennis racket playing tennis.,The man balances on one leg after serving a te...,Someone playing in a tennis tournament with a ...
2,1532,The image depicts a highway scene with a bridg...,A street scene with focus on the street signs ...,Many cars traveling on a busy road with exit s...,California traffic goes by road signs on an ov...,Some cars on the freeway are exiting onto Suns...,Cars and trucks driving under the underpass wi...
3,2153,A baseball player in a red and white uniform s...,Batter preparing to swing at pitch during majo...,A baseball player swinging a bat over home plate.,A baseball player with a bat in his hand as th...,A baseball game where the batter is waiting fo...,there is a male tennis player that is at base
4,2592,A white coffee mug with a skull and crossbones...,Decorated coffee cup and knife sitting on a pa...,A large knife is sitting in front of a mug has...,a white mug showing pirate skull and bones an...,There is a white coffee cup with a skull and b...,a close up of a knife and a cup on a surface
...,...,...,...,...,...,...,...
4995,578236,"The image depicts a large lizard, possibly an ...",A large lizard sitting on stone steps with thr...,The large lizard is on the steps near the birds.,A lizard and some bird sitting on some steps.,An iguana and two birds are sitting on several...,An iguana and three pigeons sitting on cement ...
4996,579070,A man in a white shirt and red tie sits at a t...,A group of people sitting around a table.,A group of people gathered around the table.,A group of people sitting at a table with many...,Five people sitting together at a table with D...,A group of friends sitting around a wooden tab...
4997,579893,A stop sign and street signs are prominently d...,A close up of the stop sign and to street signs.,a close up of a street sign with a sky background,The stop sign is at a four way intersection.,A stop sign located at the intersection of Eas...,A red stop sign with two green street signs on...
4998,580757,The image depicts a fire hydrant painted in re...,A fire hydrant that has the stars and stripes ...,"A red, white and blue fire hydrant on a city s...",A fire hydrant painted exactly as the patrioti...,A fire hydrant is decorated with an American f...,A american flag painted fire hydrant with chai...
4999,581781,"The image depicts a display of bananas, kiwis,...","A store display filled with ripe, unripe banan...",A group of bananas surround a small display of...,"A fruit stand with plantains, kiwis, and bananas.","A fruit stand that has bananas, papaya, and pl...",A fruit stand display with bananas and kiwi

In [7]:
df3=df2.drop(['prediction'],axis=1)
df3

,image_id,ref1,ref2,ref3,ref4,ref5
0,139,A woman stands in the dining area at the table.,"A room with chairs, a table, and a woman in it.",A woman standing in a kitchen by a window,A person standing at a table in a room.,A living area with a television and a table
1,885,a male tennis player in white shorts is playin...,This woman has just returned a volley in tennis,A man holding a tennis racket playing tennis.,The man balances on one leg after serving a te...,Someone playing in a tennis tournament with a ...
2,1532,A street scene with focus on the street signs ...,Many cars traveling on a busy road with exit s...,California traffic goes by road signs on an ov...,Some cars on the freeway are exiting onto Suns...,Cars and trucks driving under the underpass wi...
3,2153,Batter preparing to swing at pitch during majo...,A baseball player swinging a bat over home plate.,A baseball player with a bat in his hand as th...,A baseball game where the batter is waiting fo...,there is a male tennis player that is at base
4,2592,Decorated coffee cup and knife sitting on a pa...,A large knife is sitting in front of a mug has...,a white mug showing pirate skull and bones an...,There is a white coffee cup with a skull and b...,a close up of a knife and a cup on a surface
...,...,...,...,...,...,...
4995,578236,A large lizard sitting on stone steps with thr...,The large lizard is on the steps near the birds.,A lizard and some bird sitting on some steps.,An iguana and two birds are sitting on several...,An iguana and three pigeons sitting on cement ...
4996,579070,A group of people sitting around a table.,A group of people gathered around the table.,A group of people sitting at a table with many...,Five people sitting together at a table with D...,A group of friends sitting around a wooden tab...
4997,579893,A close up of the stop sign and to street signs.,a close up of a street sign with a sky background,The stop sign is at a four way intersection.,A stop sign located at the intersection of Eas...,A red stop sign with two green street signs on...
4998,580757,A fire hydrant that has the stars and stripes ...,"A red, white and blue fire hydrant on a city s...",A fire hydrant painted exactly as the patrioti...,A fire hydrant is decorated with an American f...,A american flag painted fire hydrant with chai...
4999,581781,"A store display filled with ripe, unripe banan...",A group of bananas surround a small display of...,"A fruit stand with plantains, kiwis, and bananas.","A fruit stand that has bananas, papaya, and pl...",A fruit stand display with bananas and kiwi

In [8]:
df4=df.merge(df3,on='image_id',how='inner')
df4

,Unnamed: 0,image_id,phi_prediction,ref1,ref2,ref3,ref4,ref5
0,0,557672,A woman wearing a pink and black backpack is w...,A woman walking down a street holding an orang...,A woman is walking down the street holding an ...,It's important to protect a baby from the sun.,a person walking down the street holding an um...,A woman with child pack on holding an umbrella.
1,1,258541,A man in a white shirt and orange tie is stand...,Man in dress shirt and orange tie standing ins...,a male with a beard and orange tie,A man wearing a neck tie and a white shirt.,A man posing for the picture in a building,A man dressed in a shirt and tie standing in a...
2,2,15751,"A bird is perched on a wooden surface, possibl...",A few birds are on the roof of a house.,A bird flies away from three others that are s...,A bird taking flight from a rooftop away from ...,three birds perched and one flying towards the...,An insect sitting on top of a wooden deck.
3,3,378284,"A pizza with chicken, cheese, and vegetables i...",A person sits across from a pizza ready to be ...,Small personal pizza on a crust made of rice.,A dish of some sort on a pizza stone.,A strange pizza made from rice and fish and ve...,"some kind of chicken, rice, and vegetable dish..."
4,4,50811,"A man in a suit sits at a table with a bowl, t...",am empty bowl and three empty beer bottles in ...,A man poses with an empty bowl and two beers.,A person is sitting next to a brown table.,The man sits at a table with a bowl and three ...,A man in a suit sitting a table with an empty ...
...,...,...,...,...,...,...,...,...
995,995,347370,A person is holding a half-eaten lime in their...,A person that is holding a lime in their hand.,A citrus fruit that has the peel pulled back.,An orange that has a green colored peel.,A picture of a fruit with its shell peeled.,A hand holds a piece of fruit with the peel cu...
996,996,14226,A man with headphones on is using a laptop on ...,A man sitting on a train at a table using a la...,A person is sitting in a chair at a table with...,A person sitting on train doing something on t...,A man sitting at a table using a lap top.,A man in a green suiit leaning over a laptop
997,997,211825,A man is blowing out the candles on a chocolat...,A man blowing out candles on a cake.,A man blowing out a birthday cake with many ca...,A man blowing out candles on a cake.,A man blowing out candles on a cake,Man blowing out white candles on top of a brow...
998,998,255917,"A busy street with cars and a sign that says ""...",A cluster of traffic driving towards a capital...,Many cars are waiting in traffic at a stop light.,Some cars on a road with some buildings to the...,A group of cars on a street with a domed build...,Traffic stopped at an intersection waiting for...
999,999,370813,A person is performing a trick on a skateboard...,A skateboarder's airborne feet and skateboard ...,a person jumping a skate board in the air,Skateboard in middle of maneuver in the air wi...,a man does a trick on his skate board,A person that is standing on a skateboard.

In [9]:
dff1=df4[['phi_prediction','ref1']]
dff2=df4[['phi_prediction','ref2']]
dff3=df4[['phi_prediction','ref3']]
dff4=df4[['phi_prediction','ref4']]
dff5=df4[['phi_prediction','ref5']]

In [ ]:
# Include your OPENAI API KEY here
os.environ['OPENAI_API_KEY'] = ''

In [14]:
def clair_scores(x,r):
    clair_score = clair.clair(x, r, model='gpt4')
    return clair_score[0]

In [16]:
dff1['claire_score']=dff1.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref1']), axis=1)
dff1

100%|██████████| 1000/1000 [1:18:45<00:00,  4.73s/it]
C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\402881870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff1['claire_score']=dff1.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref1']), axis=1)

,phi_prediction,ref1,claire_score
0,A woman wearing a pink and black backpack is w...,A woman walking down a street holding an orang...,0.70
1,A man in a white shirt and orange tie is stand...,Man in dress shirt and orange tie standing ins...,0.85
2,"A bird is perched on a wooden surface, possibl...",A few birds are on the roof of a house.,0.70
3,"A pizza with chicken, cheese, and vegetables i...",A person sits across from a pizza ready to be ...,0.30
4,"A man in a suit sits at a table with a bowl, t...",am empty bowl and three empty beer bottles in ...,0.70
...,...,...,...
995,A person is holding a half-eaten lime in their...,A person that is holding a lime in their hand.,0.80
996,A man with headphones on is using a laptop on ...,A man sitting on a train at a table using a la...,0.90
997,A man is blowing out the candles on a chocolat...,A man blowing out candles on a cake.,0.90
998,"A busy street with cars and a sign that says ""...",A cluster of traffic driving towards a capital...,0.00
999,A person is performing a trick on a skateboard...,A skateboarder's airborne feet and skateboard ...,0.80

In [17]:
dff2['claire_score']=dff2.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref2']), axis=1)
dff2

 80%|███████▉  | 799/1000 [56:24<12:32,  3.74s/it]  WARNING:root:Retrying _retry_call after 0.1s due to The server had an error processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if you keep seeing this error. (Please include the request ID req_e0185ebdcaac3ca7abd8624f16f1e5b1 in your email.) {
  "error": {
    "message": "The server had an error processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if you keep seeing this error. (Please include the request ID req_e0185ebdcaac3ca7abd8624f16f1e5b1 in your email.)",
    "type": "server_error",
    "param": null,
    "code": null
  }
} 500 {'error': {'message': 'The server had an error processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if you keep seeing this error. (Please include the request ID req_e0185ebdcaac3ca7abd8624f16f1e5b1 in your email.)', 'type': 'server_error', 'param': None, 'code': None}} {'Date': 'Thu, 13 Feb 2025 19:56:46 GMT', 'Content-Type': 'application/json', 'Content-Length': '369', 'Connection': 'keep-alive', 'access-control-expose-headers': 'X-Request-ID', 'openai-processing-ms': '145720', 'x-ratelimit-limit-requests': '10000', 'x-ratelimit-limit-tokens': '1000000', 'x-ratelimit-remaining-requests': '9999', 'x-ratelimit-remaining-tokens': '998723', 'x-ratelimit-reset-requests': '6ms', 'x-ratelimit-reset-tokens': '76ms', 'x-request-id': 'req_e0185ebdcaac3ca7abd8624f16f1e5b1', 'strict-transport-security': 'max-age=31536000; includeSubDomains; preload', 'cf-cache-status': 'DYNAMIC', 'X-Content-Type-Options': 'nosniff', 'Server': 'cloudflare', 'CF-RAY': '91175ea4aa477103-DFW', 'alt-svc': 'h3=":443"; ma=86400'}
100%|██████████| 1000/1000 [1:12:21<00:00,  4.34s/it]
C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\3447088946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['claire_score']=dff2.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref2']), axis=1)

,phi_prediction,ref2,claire_score
0,A woman wearing a pink and black backpack is w...,A woman is walking down the street holding an ...,0.50
1,A man in a white shirt and orange tie is stand...,a male with a beard and orange tie,0.50
2,"A bird is perched on a wooden surface, possibl...",A bird flies away from three others that are s...,0.30
3,"A pizza with chicken, cheese, and vegetables i...",Small personal pizza on a crust made of rice.,0.50
4,"A man in a suit sits at a table with a bowl, t...",A man poses with an empty bowl and two beers.,0.70
...,...,...,...
995,A person is holding a half-eaten lime in their...,A citrus fruit that has the peel pulled back.,0.60
996,A man with headphones on is using a laptop on ...,A person is sitting in a chair at a table with...,0.70
997,A man is blowing out the candles on a chocolat...,A man blowing out a birthday cake with many ca...,0.85
998,"A busy street with cars and a sign that says ""...",Many cars are waiting in traffic at a stop light.,0.50
999,A person is performing a trick on a skateboard...,a person jumping a skate board in the air,0.90

In [18]:
dff3['claire_score']=dff3.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref3']), axis=1)
dff3

 88%|████████▊ | 885/1000 [57:43<06:05,  3.18s/it]  WARNING:root:Retrying _retry_call after 0.1s due to The server had an error while processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID req_8dde2b524b5be5cc66d70784e85a5f7b.ae41969c.m0 in your message.) {
  "error": {
    "message": "The server had an error while processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID req_8dde2b524b5be5cc66d70784e85a5f7b.ae41969c.m0 in your message.)",
    "type": "server_error",
    "param": null,
    "code": null
  }
} 500 {'error': {'message': 'The server had an error while processing your request. Sorry about that! You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID req_8dde2b524b5be5cc66d70784e85a5f7b.ae41969c.m0 in your message.)', 'type': 'server_error', 'param': None, 'code': None}} {'Date': 'Thu, 13 Feb 2025 21:46:36 GMT', 'Content-Type': 'application/json', 'Content-Length': '381', 'Connection': 'keep-alive', 'access-control-expose-headers': 'X-Request-ID', 'openai-organization': 'cosmos-research-center', 'openai-processing-ms': '92745', 'openai-version': '2020-10-01', 'x-ratelimit-limit-requests': '10000', 'x-ratelimit-limit-tokens': '1000000', 'x-ratelimit-remaining-requests': '9999', 'x-ratelimit-remaining-tokens': '998736', 'x-ratelimit-reset-requests': '6ms', 'x-ratelimit-reset-tokens': '75ms', 'x-request-id': 'req_8dde2b524b5be5cc66d70784e85a5f7b', 'strict-transport-security': 'max-age=31536000; includeSubDomains; preload', 'CF-Cache-Status': 'DYNAMIC', 'Set-Cookie': '__cf_bm=emQtYyek8eh5H9khfmHYO8tmbqCosOVeLkrZIOjJ1t4-1739483196-1.0.1.1-qIAxSHO02zcqaeOyICMZhWSNUYvPSYJDT.wAMK0bmLOqGIQqOCLTPvNb5ehoRvyNI7CdkE7VeCPqXtC3RaC10w; path=/; expires=Thu, 13-Feb-25 22:16:36 GMT; domain=.api.openai.com; HttpOnly; Secure; SameSite=None, _cfuvid=.4Cgwj8y64ireull3zyB7swnustqc2kN8GtnjV_1f4g-1739483196669-0.0.1.1-604800000; path=/; domain=.api.openai.com; HttpOnly; Secure; SameSite=None', 'X-Content-Type-Options': 'nosniff', 'Server': 'cloudflare', 'CF-RAY': '911800d6d902f03a-DFW', 'alt-svc': 'h3=":443"; ma=86400'}
100%|██████████| 1000/1000 [1:06:45<00:00,  4.01s/it]
C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\2898985475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff3['claire_score']=dff3.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref3']), axis=1)

,phi_prediction,ref3,claire_score
0,A woman wearing a pink and black backpack is w...,It's important to protect a baby from the sun.,0.0
1,A man in a white shirt and orange tie is stand...,A man wearing a neck tie and a white shirt.,0.8
2,"A bird is perched on a wooden surface, possibl...",A bird taking flight from a rooftop away from ...,0.7
3,"A pizza with chicken, cheese, and vegetables i...",A dish of some sort on a pizza stone.,0.7
4,"A man in a suit sits at a table with a bowl, t...",A person is sitting next to a brown table.,0.5
...,...,...,...
995,A person is holding a half-eaten lime in their...,An orange that has a green colored peel.,0.0
996,A man with headphones on is using a laptop on ...,A person sitting on train doing something on t...,0.8
997,A man is blowing out the candles on a chocolat...,A man blowing out candles on a cake.,0.9
998,"A busy street with cars and a sign that says ""...",Some cars on a road with some buildings to the...,0.7
999,A person is performing a trick on a skateboard...,Skateboard in middle of maneuver in the air wi...,1.0

In [19]:
dff4['claire_score']=dff4.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref4']), axis=1)
dff4

100%|██████████| 1000/1000 [1:07:20<00:00,  4.04s/it]
C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\2707703338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff4['claire_score']=dff4.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref4']), axis=1)

,phi_prediction,ref4,claire_score
0,A woman wearing a pink and black backpack is w...,a person walking down the street holding an um...,0.70
1,A man in a white shirt and orange tie is stand...,A man posing for the picture in a building,0.50
2,"A bird is perched on a wooden surface, possibl...",three birds perched and one flying towards the...,0.50
3,"A pizza with chicken, cheese, and vegetables i...",A strange pizza made from rice and fish and ve...,0.60
4,"A man in a suit sits at a table with a bowl, t...",The man sits at a table with a bowl and three ...,0.85
...,...,...,...
995,A person is holding a half-eaten lime in their...,A picture of a fruit with its shell peeled.,0.50
996,A man with headphones on is using a laptop on ...,A man sitting at a table using a lap top.,0.70
997,A man is blowing out the candles on a chocolat...,A man blowing out candles on a cake,0.90
998,"A busy street with cars and a sign that says ""...",A group of cars on a street with a domed build...,0.60
999,A person is performing a trick on a skateboard...,a man does a trick on his skate board,1.00

In [20]:
dff5['claire_score']=dff5.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref5']), axis=1)
dff5

100%|██████████| 1000/1000 [54:41<00:00,  3.28s/it]
C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\3627092337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff5['claire_score']=dff5.progress_apply(lambda row: clair_scores(row['phi_prediction'], row['ref5']), axis=1)

,phi_prediction,ref5,claire_score
0,A woman wearing a pink and black backpack is w...,A woman with child pack on holding an umbrella.,0.70
1,A man in a white shirt and orange tie is stand...,A man dressed in a shirt and tie standing in a...,0.85
2,"A bird is perched on a wooden surface, possibl...",An insect sitting on top of a wooden deck.,0.50
3,"A pizza with chicken, cheese, and vegetables i...","some kind of chicken, rice, and vegetable dish...",0.70
4,"A man in a suit sits at a table with a bowl, t...",A man in a suit sitting a table with an empty ...,0.70
...,...,...,...
995,A person is holding a half-eaten lime in their...,A hand holds a piece of fruit with the peel cu...,0.70
996,A man with headphones on is using a laptop on ...,A man in a green suiit leaning over a laptop,0.50
997,A man is blowing out the candles on a chocolat...,Man blowing out white candles on top of a brow...,0.90
998,"A busy street with cars and a sign that says ""...",Traffic stopped at an intersection waiting for...,0.00
999,A person is performing a trick on a skateboard...,A person that is standing on a skateboard.,0.70

In [22]:
dff1.to_csv('claire_evaluations/claire_output_1.csv')
dff2.to_csv('claire_evaluations/claire_output_2.csv')
dff3.to_csv('claire_evaluations/claire_output_3.csv')
dff4.to_csv('claire_evaluations/claire_output_4.csv')
dff5.to_csv('claire_evaluations/claire_output_5.csv')

In [23]:
df_1=pd.read_csv('claire_evaluations/claire_output_1.csv')
df_2=pd.read_csv('claire_evaluations/claire_output_2.csv')
df_3=pd.read_csv('claire_evaluations/claire_output_3.csv')
df_4=pd.read_csv('claire_evaluations/claire_output_4.csv')
df_5=pd.read_csv('claire_evaluations/claire_output_5.csv')

In [27]:
df=pd.concat([df_1['claire_score'],df_2['claire_score'],df_3['claire_score'],df_4['claire_score'],df_5['claire_score']],axis=1)
df

     claire_score  claire_score  claire_score  claire_score  claire_score
0            0.70          0.50           0.0          0.70          0.70
1            0.85          0.50           0.8          0.50          0.85
2            0.70          0.30           0.7          0.50          0.50
3            0.30          0.50           0.7          0.60          0.70
4            0.70          0.70           0.5          0.85          0.70
..            ...           ...           ...           ...           ...
995          0.80          0.60           0.0          0.50          0.70
996          0.90          0.70           0.8          0.70          0.50
997          0.90          0.85           0.9          0.90          0.90
998          0.00          0.50           0.7          0.60          0.00
999          0.80          0.90           1.0          1.00          0.70

[1000 rows x 5 columns]

In [28]:
df = df[~df.eq(0).any(axis=1)]
df

     claire_score  claire_score  claire_score  claire_score  claire_score
1            0.85          0.50           0.8          0.50          0.85
2            0.70          0.30           0.7          0.50          0.50
3            0.30          0.50           0.7          0.60          0.70
4            0.70          0.70           0.5          0.85          0.70
5            0.70          0.70           0.8          0.90          0.80
..            ...           ...           ...           ...           ...
992          0.80          0.85           0.9          0.70          0.90
993          0.70          0.50           0.8          0.70          0.70
996          0.90          0.70           0.8          0.70          0.50
997          0.90          0.85           0.9          0.90          0.90
999          0.80          0.90           1.0          1.00          0.70

[821 rows x 5 columns]

In [29]:
df['score_mean']=df.mean(axis=1)
df

C:\Users\dpoudel\AppData\Local\Temp\3\ipykernel_1074136\478796154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score_mean']=df.mean(axis=1)

,claire_score,claire_score,claire_score,claire_score,claire_score,score_mean
1,0.85,0.50,0.8,0.50,0.85,0.70
2,0.70,0.30,0.7,0.50,0.50,0.54
3,0.30,0.50,0.7,0.60,0.70,0.56
4,0.70,0.70,0.5,0.85,0.70,0.69
5,0.70,0.70,0.8,0.90,0.80,0.78
...,...,...,...,...,...,...
992,0.80,0.85,0.9,0.70,0.90,0.83
993,0.70,0.50,0.8,0.70,0.70,0.68
996,0.90,0.70,0.8,0.70,0.50,0.72
997,0.90,0.85,0.9,0.90,0.90,0.89
999,0.80,0.90,1.0,1.00,0.70,0.88

In [30]:
df['score_mean'].mean()

0.7206138855054811

In [32]:
df

,claire_score,claire_score,claire_score,claire_score,claire_score,score_mean
1,0.85,0.50,0.8,0.50,0.85,0.70
2,0.70,0.30,0.7,0.50,0.50,0.54
3,0.30,0.50,0.7,0.60,0.70,0.56
4,0.70,0.70,0.5,0.85,0.70,0.69
5,0.70,0.70,0.8,0.90,0.80,0.78
...,...,...,...,...,...,...
992,0.80,0.85,0.9,0.70,0.90,0.83
993,0.70,0.50,0.8,0.70,0.70,0.68
996,0.90,0.70,0.8,0.70,0.50,0.72
997,0.90,0.85,0.9,0.90,0.90,0.89
999,0.80,0.90,1.0,1.00,0.70,0.88

In [33]:
df.to_excel('Phi_Claire_Evaluation.xlsx')